body {
    0px;
    font-family: arial;
    color: #333;
}

h1,
h2,
nav {
    margin: 0.1em;
    text-align: center;
}
nav a:link {
    margin: 0.5em;
    padding: 0.125em;
    border-radius: 0.25em;
    text-decoration: none;
    color: gray;
}
nav a:hover {
    background-color: #CCF;
}
nav a:active {
    background-color: #AAF;
    color: white;
}
main {
    text-align: justify;
}
main form label {
    float: left;
    text-align: right;
    margin-right: 0.5em;
    width: 10em;
    color: #555;
}
main form input {
    width: 15em;
}
main form input[type=text],
main form input[type=password] {
    border: none;
    background-color: #EAEAEA;
    border-bottom: 1px solid black;
}
main form input[type=text]:focus,
main form input[type=password]:focus {
    background-color: #DADADA;
}
footer {
    color: gray;
    text-align: right;
    font-size: 12px;
}

.message {
    background-color: #E5E5E5;
    border-left: 0.5em solid navy;
    margin: 0.25em;
    padding: 0.25em;
}
.error {
    border-left: 0.5em solid red;
    color: red;
}
.warning {
    border-left: 0.5em solid orange;
    color: orange;
}
.notice {
    border-left: 0.5em solid violet;
    color: violet;
}
.info {
    border-left: 0.5em solid lime;
    color: black;
}
.debug {
    border-left: 0.5em solid skyblue;
    color: black;
}